langchain
langchain-community
langchain-core
chromadb
unstructured
tqdm
faiss-cpu
sentence-transformers
llama-cpp-python
slack-bolt
slack-sdk
transformers
torch
sentence-transformers
faiss-cpu
nltk
PyPDF2
python-docx
pytesseract
Pillow
PyMuPDF
duckduckgo-search
googlesearch-python
beautifulsoup4
requests
newspaper3k

